@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@primary-color: #020617;
@secondary-color: #1e293b;
@accent-color: #0e9bea;
@text-color: #f1f5f9;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: @primary-color;
  color: @text-color;
  font-family: "Montserrat", sans-serif;
}

.absolute {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.foto-sendiri {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 75%;
  z-index: -1;
  opacity: 60%;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 50%;
    width: 100%;
    background: linear-gradient(to bottom, transparent, @primary-color);
  }
}

header {
  height: 100vh;
  align-items: center;
  display: flex;
  padding: 18px;

  h1 {
    font-size: 36px;

    .passion {
      color: @accent-color;
    }
  }
}

.about-section {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 18px;

  h2 {
    font-size: 32px;
    margin-bottom: 24px;
  }

  p {
    line-height: 1.475;
  }
}

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 18px;
  overflow-x: hidden;

  & > h2 {
    font-size: 32px;
    margin-bottom: 24px;
    text-align: center;
  }

  & > p {
    line-height: 1.475;
    text-align: center;
    margin-bottom: 36px;
  }

  .skill-container {
    width: 97%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

    .skill {
      background: linear-gradient(45deg, fade(@secondary-color, 45%), fade(@text-color, 15%));
      width: 100%;
      border-radius: 12px;
      padding: 1rem 0.5rem;
      display: flex;
      gap: 1.725rem;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
}
